.background_principal
  {
      background-image: URL(imagen_del_background.png) !important;
      background-size: 120%;
      background-repeat:2;
      background-position: center center;
  }
#imagen_de_mirada_interior
  {
    max-height: 170px; 
    max-width:250px;
  }
#mandala
  {
    max-height: 170px;
    max-width:200px
  }
  #test1 
  {
    list-style-type:upper-alpha ; 
  }
#test2 
  {
    list-style-type:upper-roman ; 
  }
#foto
  {
    max-height: 300px; 
    max-width: 400px;
  }
#imagen_regresar
  {
    max-height: 40px
  }